
<div class="card card-body text-center">
    <i class="far fa-id-badge "></i>
    <h1> Welcome to home page </h1>
    <span>Already Member! <a href="/login">Login</a></span><br/>
    <span>Don't have an acount! Please click here to register with us <a href="/signup" >Register Here!</a></span><br/>
    <span>Don't have an acount! Please click here to test with us <a href="/res" >Register Here!</a></span>
</div> 