
<article>
    <header>
      <h1>Project</h1>
  <h1> Welcome to home page </h1> 
      
    </header>
    
  </article>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .fa {
    padding: 1px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
 
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  
  
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  #leftbox{
                 float:right; 
                  background:white;
                  width:25%;
                  height:280px;

  }
  #middlebox{
                  float:left; 
                  background:white;
                  width:50%;
                  height:280px;
              }
#rightbox{
                  float:left;
                  background:blue;
                  width:25%;
                  height:280px;
              }
    h1{
                  color:green;
                  text-align:center;
              }
  
  
  </style>
  </head>
  <body>
  <div id="middlebox">
  <h4>You Can also follow us on</h4>
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  
  <a href="#" class="fa fa-linkedin"></a>
  
  <a href="#" class="fa fa-instagram"></a>
  
  <a href="#" class="fa fa-vimeo"></a>
  </div>
  <div class = header  id=rigtbox>
         <span> <a href="/login">Partner Login</a></span><br/>
      <span> <a href="/signup" >Partner Locator</a></span><br/>
      </div>
  
<div class="card card-body text-center">
    <i class="far fa-id-badge "></i>
   
   

    <div class=intro id=leftbox>
        <span>Already Member! <a href="/login">Login</a></span><br/>
        <%# <span>Don't have an acount! Please click here to register with us <a href="/signup" >Register Here!</a></span><br/> %>
        <span>Don't have an acount! Please click here to test with us <a href="/res" >Register Here!</a></span>
   <footer> 
    <a href="aboutus">we are here</a> |
    <a href="track">track</a> |
    <a href="contacus">call us</a>
       
    </footer>
    </div>
</div> 