<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

	
</head>
<style>
	 h4{
       color:green;
      text-align:center;
 }
 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 10%;
   background-color: #08ecbf;
   color: white;
   text-align: center;
}
.header {
  position: fixed;
   left:0;
   width: 100%;
  
  text-align: center;
  background:#08ecbf;
  color: white;
}
body {
  font-family: "Montserrat";
  padding:20px;
  width: 100%;
   height: 25%;
  text-align: center;
  background:#08ecbf;
}
.content {
  
  position: fixed;
  left: 0;
  width: 100%;
  
  text-align: center;
  background-color: #08ecbf;
  color:blue;
}
</style>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<p>Login</p>
		</div>
		<div class="form-group">
			<form id="login" action="/login" method="post" >
				<input type="text" name="username"  placeholder="username"  class="form-control"><br/>
				<input type="password" name="password"  placeholder="Password" autocomplete = "on" class="form-control"><br/>
        <input type="checkbox" value="agree" id="agree" display="flex" margin-bottom="auto"
        justify-content="space-between">Remember me<br />
				<button type="submit" value="submit" class="btn btn-success">login</button>
			</form>
		</div>
		<div class="mssg bg-danger">
			<span id="check" ></span>
		</div>
		<div id="LangTable"><a href="/" id="aa"></a>
		</div>
		<div><span>Do you forgot password?</span><a href="/reset">Click here</a>
		<div><span>Create a new Account?</span><a href="/res">Register here</a>

		</div>
		
	</div>
</body>




</html>