<div class="row mt-5">
	<div class="col-md-6 m-auto">
		
			<h1 class="text-center"> Welcoome to our website</h1>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
			<body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<h1 class="text-center"> Hi
  <%= users.name %> nice to see you!

</h1>
<form  class="text-center"> 
  <a href="aboutus">we are here</a> |
  <a href="track">track</a> |
  <a href="contacus">call us</a>
  <div>
  <button type="submit" value="logout" class="btn btn-warning">
    <a href="/">Logout</a>
  </div>
  </button>
  
</form>
</body>

</div>
</div>